[submodule "data/libraries/lithium"]
	path = data/libraries/lithium
	url = https://github.com/UnionOfRAD/lithium.git
[submodule "data/app/libraries/li3_filesystem"]
	path = data/app/libraries/li3_filesystem
	url = https://github.com/mariuskubilius/li3_filesystem.git
[submodule "data/app/libraries/li3_gearman"]
	path = data/app/libraries/li3_gearman
	url = https://github.com/cgarvis/li3_gearman.git
